##BaseDAO代码生成模版
##使用到的变量有：
##$!{gb.packageName}包名，如：com.taobao.trip.agent
##$!{gb.userName}机器登录用户名，如：yingyang
##$!{gb.nowDate}当前日期，如：2011-10-14
##$!{sysInit.dbName}数据库名，如：tripagent
package $!{gb.packageName}.dao.ibatis;

import org.springframework.orm.ibatis.SqlMapClientTemplate;

/**
 * DAO基类
 * @author $!{gb.userName}
 * @since $!{gb.nowDate}
 */
public class BaseDAO {
	
	/** 数据库操作对象 */
	private SqlMapClientTemplate sqlMapClientTemplate;
	
	public SqlMapClientTemplate getSqlMapClientTemplate() {
		return sqlMapClientTemplate;
	}

	public void setSqlMapClientTemplate(SqlMapClientTemplate sqlMapClientTemplate) {
		this.sqlMapClientTemplate = sqlMapClientTemplate;
	}

}
